/*------- GLOBAL --------*/
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    /*height: 600px;*/ /* Should be removed. Only for demonstration */
}

#img1{
  width:100%;
  height:78%;
  margin: 28% 10% 0 0%;
}

#sponsorText, #skillsText{
  text-align: center;
  font-size: 30px;
  margin: 15% 0% 0% 4%;
}

#sponsorimg1, #sponsorimg2{
  width:100%;
  height:73%;
  margin: 5% 0% 0% 2%;
}

#skills{
  width:100%;
  height:77%;
  margin: 5% -2%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
    }

    #img1{
      width:  70%;
      height: 94%;
      margin: 5% 0% 0 17%;
    }

    #sponsorimg1, #sponsorimg2{
      height:83%;
      width:  70%;
      margin: 5% 10% 0 17%;
    }

    #skills{
      width:70%;
      height:70%;
      margin: 5% -2% 0% 17%;
    }

    div#logo_div    {-webkit-order: 1;}
    div#sponsor_div {-webkit-order: 2;}
    div#other_div   {-webkit-order: 3;}
}
